/* Main Container */
.taskbar-calendar {
  width: 19%;
  height: 85vh;
  background-color: #1f1f1f;
  position: absolute;
  right: 0px;
  bottom: 40px;
  z-index: 1000;
  overflow: hidden;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

/* Row 1 - Clock */
.calendar-clock {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #4c4c4c;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
}

.clock-time-container {
  display: flex;
  align-items: baseline;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.clock-time {
  font-size: 2.6em;
  font-weight: 300;
  width: 6.5ch;
}

.clock-period {
  font-size: 24px;
  font-weight: 350;
  color: #929292;
  padding: 0 20px;
  align-self: flex-end;
}

.clock-date {
  font-size: 16px;
  margin-top: 5px;
  color: #a6d8ff;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: start;
  cursor: pointer;
}

.clock-date:hover {
  color: #929292;
}

/* Row 2 - Table */
.calendar-body {
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.calendar-header-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  padding-top: 10px; /* Space between header row and clock */
  padding-bottom: 0px; /* Space between header row and table */
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: span 2; /* Span across two columns */
  white-space: nowrap;
  overflow: visible;
  color: #c6c6c6;
}

.calendar-header:hover {
  color: #ffffff;
}

.calendar-header h3 {
  font-size: 1em;
  font-weight: 300;
  padding: 0 10px;
  margin: 0;
}

.calendar-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calendar-arrow-up {
  width: 16px;
  height: 16px;
}

.calendar-arrow-down {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
}

/* Default styles for the SVG arrows */
.calendar-arrow-up, .calendar-arrow-down {
  width: 16px;
  height: 16px;
  color: #c6c6c6;
  transition: fill 0.2s ease; /* Smooth transition */
}

/* Styles for when the arrow is clicked */
.calendar-arrow-up.clicked, .calendar-arrow-down.clicked {
  color: #ffffff; /* Color when clicked */
}

.calendar-arrow-up:hover, .calendar-arrow-down:hover {
  color: #ffffff;
}

/* Header Row for Days of the Week */
.calendar-table-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 10px; /* Space between header row and date cells */
  text-align: center;
  margin-top: 20px;
}

.calendar-table-header div {
  font-weight: 300;
}