.application-frame {
  position: fixed;
  width: calc(100%);
  height: calc(100% - 40px); /* Subtract the taskbar height */
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 0px solid #ff0000;
  z-index: 1000;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
  opacity: 1;
}

.application-frame.focused {
  z-index: 1001; /* Higher z-index for the focused application */
}

.application-frame.minimized {
  opacity: 0;
  pointer-events: none;
}

.application-frame-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  color: #fff;
  z-index: 1100;
  height: 32px;
  box-sizing: border-box;
}

.application-frame-icon-title {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.app-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.app-title {
  font-size: 0.75rem;
  font-weight: 350;
}

.application-frame-controls {
  display: flex;
  align-items: center;
  height: 100%;
}

.control-button-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  width: 40px;
  box-sizing: border-box;
}

.control-button-column img {
  width: 10px;
  height: 10px;
}

.control-button-column.minimize:hover {
  background-color: var(--hover-color, #0077d7);
}

.control-button-column.maximize:hover {
  background-color: var(--hover-color, #0077d7);
}

.control-button-column.close:hover {
  background-color: var(--hover-color, #ea1022);
}

.control-button-disabled {
  pointer-events: none;
}

.application-frame-content {
  flex: 1;
  padding: 1rem;
}
